a {
  text-decoration: none !important;
}

body {
  background-color: #e2e9f1 !important;
}

.navbar {
  background-color: #144272 !important;
}

/* Dropdown Button */
.dropbtn {
  color: white;

  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #144272;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.signup-btn {
  background-color: #f57415;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  margin-top: 12px;
  outline: none !important;
}
.login-btn {
  border: 1px solid #f57415;
  color: #f57415;
  border-radius: 5px;
  margin-left: 6px;
  margin-top: 12px;
  padding: 5px 10px;
  outline: none !important;
  background-color: #144272;
}
.input-box {
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.input-box i {
  color: white;
  background-color: #f57415;
  padding: 10px 15px;
}
.input-box input {
  outline: none;
  padding: 6px;
  border: 0;
}

.search-btn {
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: #f57415;
  color: white;
  outline: none !important;
  border-radius: 5px;
  cursor: pointer;
}

.hero-section {
  background-color: #144272;
}

.carousel-control-prev {
  font-size: 54px !important;
  color: red !important;
}

/* ******************************************** feature-franchise section ************************* ****************/

.heading {
  color: #205295 !important;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.description {
  color: #2c74b3;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.feature-card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 250px !important;
}

.feature-card-footer {
  background: rgb(14, 33, 51);
  background: linear-gradient(
    90deg,
    rgba(14, 33, 51, 1) 17%,
    rgba(14, 53, 94, 1) 47%,
    rgba(23, 96, 173, 1) 70%,
    rgba(20, 66, 114, 1) 82%
  );
  color: white;
  padding: 15px;
}
.feature-card-footer span {
  font-weight: bold;
}

.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-more button {
  background-color: #205295;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none !important;
  padding: 10px 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

/* ******************************************** malls section ************************* ****************/
.malls {
  background-color: #d0e1f4;
}

.malls-card-title {
  color: #205295;
  font-size: 25px;
  font-weight: 700;
}

.malls-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.malls-card-text {
  color: #205295;
  font-size: 18px;
  font-weight: 400;
}
.malls-card-text span {
  font-weight: bold;
}
.read-more {
  outline: none !important;
  border: none;
  background-color: #f57415;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

/* ****************************** franchise card ***************************  */
.franchisepk-card {
  text-align: center;
  background-color: #e5f4d9;
}

.franchisepk-card span {
  color: #f57415;
  font-weight: bold;
}

.franchisepk-card-title {
  font-weight: bold;
  font-size: 45px;
}

.franchisepk-card-title span {
  color: #f57415;
}

.breadcrumbs {
  background-color: white !important;
  color: black !important;
  padding: 0px !important;
  font-weight: bold !important;
  list-style: none;
  display: flex;
  justify-content: center;
}
.breadcrumbs-item {
  color: #2c74b3;
  font-weight: bold;
  padding: 0px 5px;
}

.signed {
  font-size: 30px;
  font-weight: bold;
  color: #2c74b3;
  margin-top: 5px;
}
.franchise-card-logo {
  width: 20%;
  height: auto;
}

.dancing-script {
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

/* ************************** news and articles ************************************  */

.news-subtitle {
  color: #2c74b3;
}
.news-card {
  color: #2c74b3;
}
.news-card:hover {
  background-color: #144272;
  color: white !important;
}
.news-card-text {
  font-size: 20px;
}
.all-articles {
  font-size: 20px;
  font-weight: 400;
  float: right;
}

.all-news-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.all-news {
  border: none;
  outline: none !important;
  background-color: #f57415;
  color: white;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
}

/* ****************************** review cards *******************************8 */

.review-row {
  padding-top: 100px;
}

.review-card-header {
  background-color: #205295 !important;
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.review-card-text {
  color: #205295;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
.review-card-btn {
  border: none !important;
  background-color: #f57415 !important;
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

/* ****************** help *******************************  */
.help-title {
  color: #205295;
}
.help-description {
  color: #205295;
}

/* ****************** narkins *******************************  */

.narkin {
  font-size: 40px;
  font-weight: 400;
  color: #205295;
  display: flex;
  align-items: center;
}
.narkin span {
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}

.narkin-card-body {
  background-color: #144272;
  color: white;
  height: auto;
  padding-left: 20px;
}

.narkin-btn {
  background-color: #f57415;
  color: white;
  border: none;
  gap: 10px;
  font-size: 24px;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 15px;
  outline: none !important;
}

/* about brand */

.about-brand h1 {
  background-color: #144272;
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding: 5px;
}

.about-company {
  background-color: #d0e1f4;
  color: #205295;
  font-size: 20px;
  font-weight: 500;
}
.need-more-info {
  display: flex;
  background-color: #d0e1f4;
  padding: 20px;
}
.need-more-info .title {
  color: #144272;
  font-weight: bold;
}
.need-more-info p {
  color: #205295;
}

.complete-request {
  background-color: #f57415;
  color: white;
  border: none;
  outline: none !important;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 500;
}
.about-brand p {
  color: #144272;
  padding: 5px 0px;
}
.text {
  color: #205295;
}

/* franchise offer for narkin */

.narkin-headings {
  color: #205295;
  font-weight: 700;
  text-align: center;
  margin: 50px 0px;
}

.franchise-offer {
  display: flex;
  flex-direction: column;
  color: #205295;
}
.franchise-offer ul {
  padding: 0px 20px;
}
.franchise-offer span {
  font-weight: bold;
}

/* ****** related companies ********* */

.Related-Comapanies-footer {
  background: linear-gradient(
    90deg,
    rgba(14, 33, 51, 1) 17%,
    rgba(14, 53, 94, 1) 47%,
    rgba(23, 96, 173, 1) 70%,
    rgba(20, 66, 114, 1) 82%
  );
  color: white;
  font-size: 24px;
  padding: 0px 10px;
}
.Related-Comapanies-footer span {
  font-weight: bold;
}

.input-group-text {
  background-color: #f57415 !important;
  color: white !important;
}

/* ******************** Ask question ******************** */

.ask-question-form {
  display: flex;
  flex-direction: column;
}

.ask-question-form p {
  color: #2c74b3;
  font-size: 20px;
  font-weight: 500;
}

.ask-question-inputfields {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.ask-question-inputfields input,
textarea {
  outline: none !important;
  border: none;
}
#message {
  width: 80%;
  height: 200px;
}

.ask-btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.ask-question {
  background-color: #f57415;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 8px 35px;
  outline: none !important;
  border: none;
  border-radius: 5px;
}

/* **************** login signup form *********** */

.login-signup-container {
  padding: 30px;
}
.login-signup {
  background-image: url(images/login-sign-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login-signup-form {
  background-color: #f57415;
  padding: 30px;
  background-color: #ffffffc9;
  margin-bottom: 20px;
}
.login-col {
  padding: 0px 50px;
}

.form-title {
  color: #2c74b3;
  font-size: 32px;
  font-weight: 700;
}
.forget-password {
  display: flex;
  justify-content: end;
  color: #2c74b3fa;
}
.login-signup-input {
  width: 100%;
  height: 40px;
  border: 1px solid #2c74b3;
  outline: none;
}
.login-signup-input::placeholder {
  color: #2c74b38c;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
}
.form-login-btn {
  background-color: #2c74b3;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none !important;
  padding: 5px 20px;
}
.form-signup-btn {
  background-color: #2c74b3;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none !important;
  padding: 5px 20px;
}

/* ****************** footer *******************************  */
.footer {
  background-color: #144272;
}

.footer-logo {
  width: 100%;
}
.bread {
  display: flex;
}
.b-item a {
  color: #2c74b3;
  text-decoration: none !important;
  padding: 15px;
  font-weight: bold;
}
.b-item a:hover {
  color: #f57415;
}

.quick-links {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.link-items {
  text-decoration: none !important;
  color: white;
  font-size: 18px;
}
.link-items:hover {
  color: #f57415;
}
.newsletter {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.footer-inputfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
.footer-inputfield input {
  padding: 6px;
  border: none;
}
.angle-icon {
  background-color: #f57415;
  padding: 10px 20px;
  color: white;
}
.social-icons .fa {
  padding: 12px;
  background-color: white;
  color: #144272;
  font-size: 20px;
  border-radius: 90%;
  margin-top: 15px;
}

/* ****************************** media queries *******************************8 */

@media (max-width: 575px) {
  .input-box {
    margin-bottom: 10px;
  }

  .franchise-card-row {
    padding: 10px;
  }
  .narkin-btn {
    font-size: 20px;
    font-weight: 400;
  }
  .about-brand {
    font-size: 25px;
    font-weight: 500;
  }
  .about-company p {
    font-size: 15px;
  }
  .about-company span {
    font-size: 15px;
    padding-left: 5px !important;
  }

  .ask-question-inputfields {
    flex-direction: column;
  }
  .signup-col {
    padding: 0px;
  }
}
@media (max-width: 400px) {
  .feature-card-body img {
    width: 100%;
  }
  .about-brand h1 {
    font-size: 20px;
    padding: 5px;
    font-weight: 700;
  }
  .login-signup-container {
    padding: 0px;
  }
}

@media (max-width: 1200px) {
  .narkin {
    flex-direction: column;
  }
}
